
$yellow: #fffe19;
$black:#000000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

@mixin myPadding ($top, $right, $bottom, $left){
    padding: $top, $right, $bottom, $left;
}

.jumbotron{
    background-color: $yellow;
    color: $black;
    @include margenes(50px,10px );
}


footer{
    @include myPadding(10px, 10px, 10px, 10px);
    background-color: $yellow;
    @include margenes(10px,0px );
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px,0px )
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    @include myPadding(0px, 10px, 0px, 0px);
}

.tab-contente{
    @include myPadding(10px, 0px, 0px, 0px);
}

.carousel-margen{
    @include margenes(10px, 0px);
}