@yellow:  #fffa19;
@black: #000000;

.margenes(@top:0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.myPadding (@top:0px, @right:0px, @bottom:0px, @left:0px){
  padding: @top, @right, @bottom, @left;
}

.jumbotron{
  background-color: @yellow;
  color: @black;
  .margenes(50px,10px );
}


footer{
  .myPadding(10px, 10px, 10px, 10px);
  background-color: @yellow;
  .margenes(10px,0px );
}

.card-hotel{
  flex: 1 200px;
  .margenes(10px,0px )
}

.btn-reserva{
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon{
  .myPadding(0px, 10px, 0px, 0px);
}

.tab-contente{
  .myPadding(10px, 0px, 0px, 0px);
}

.carousel-margen{
  .margenes(10px, 0px);
}