.jumbotron {
  background-color: #fffe19;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px, 10px, 10px, 10px;
  background-color: #fffe19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding: 0px, 10px, 0px, 0px; }

.tab-contente {
  padding: 10px, 0px, 0px, 0px; }

.carousel-margen {
  margin-top: 10px;
  margin-bottom: 0px; }

/*# sourceMappingURL=styles.css.map */
